<div class="border p-3">
  <button (click)="open(content)" class="btn btn-md btn-outline-primary mr-3">
    <i class="fa fa-user"></i>Add new series</button>
</div>

<div class="row">
  <div *ngFor="let currentSeries of seriesList" class="col-sm-6 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ currentSeries.name }}</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <button (click)="open(content, currentSeries, true)" class="btn btn-sm btn-info mr-1">
          <i class="fa fa-search"></i>Details
        </button>
        <button (click)="open(content, currentSeries)" class="btn btn-sm btn-warning mr-1">
          <i class="fa fa-edit"></i>Edit
        </button>
        <button (click)="openDelete(contentDelete, currentSeries)" class="btn btn-sm btn-danger mr-1">
          <i class="fa fa-remove"></i>Delete
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <form (ngSubmit)="onSubmit()" #seriesForm="ngForm" novalidate>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Series</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="selectedSeries.name"
                 class="form-control"
                 id="name"
                 name="name"
                 placeholder="Enter series's name"
                 [disabled]="showDetails"
                 required #name="ngModel">
        </div>
        <div [hidden]="name.value" class="alert alert-danger">Name is required</div>

      <div class="card">
        <div class="card-header">
          Seasons
          <button (click)="addNewSeason()" type="button" class="float-right">➕</button>
        </div>
        <ul class="list-group list-group-flush">
          <li *ngFor="let season of seasonsOfSelectedSeries" class="list-group-item">Season n°{{ season.number }}</li>
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="!seriesForm.form.valid" class="btn btn-outline-dark">Save</button>
    </div>
  </form>
</ng-template>

<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p id="delete_modal_text">Are you sure you want to delete this record ?</p>
  </div>
  <div class="modal-footer">
    <button (click)="deleteSelectedSeries()" data-dismiss="modal" class="btn btn-danger">Yes, Delete!</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>
