<div class="row">
  <div class="col-sm">
    <div class="card border-0 shadow my-2 bg-light">
      <a (click)="gotoSeriesList()">
        <div class="card-body p-5">
          <h2 class="font-weight-light text-danger">SERIES LIST</h2>
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm">
    <div class="card border-0 shadow my-2 bg-light">
      <a (click)="gotoSeasonList()">
        <div class="card-body p-5">
          <h2 class="font-weight-light text-success">SEASONS LIST</h2>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <div class="card border-0 shadow my-2 bg-light">
      <a (click)="gotoEpisodeList()">
        <div class="card-body p-5">
          <h2 class="font-weight-light text-warning">EPISODES LIST</h2>
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm">
    <div class="card border-0 shadow my-2 bg-light">
      <a (click)="gotoUserList()">
        <div class="card-body p-5">
          <h2 class="font-weight-light text-info">USERS LIST</h2>
        </div>
      </a>
    </div>
  </div>
</div>
