<button (click)="gotoSeriesForm()" class="btn btn-success">Add a new series</button>
<div class="card my-3">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let currentSeries of series">
        <td>{{ currentSeries.id }}</td>
        <td>{{ currentSeries.name }}</td>
        <td>
          <button class="btn btn-warning mr-3 disabled">Edit</button>
          <button (click)="deleteSeries(currentSeries)" class="btn btn-danger">Remove</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
